trigger: none

pool: Default

steps:
# - task: TerraformInstaller@1
#   inputs:
#     terraformVersion: 'latest'
# - task: TerraformTask@5
#   inputs:
#     provider: 'azurerm'
#     command: 'init'
#     backendServiceArm: 'First_service_connection'
#     backendAzureRmStorageAccountName: 'satishstg111222'
#     backendAzureRmContainerName: 'newcontainer'
#     backendAzureRmKey: 'terraform.tfsate'

# - task: TerraformTask@5
#   inputs:
#     provider: 'azurerm'
#     command: 'plan'
#     environmentServiceNameAzureRM: 'First_service_connection'

# - task: TerraformTask@5
#   inputs:
#     provider: 'azurerm'
#     command: 'apply'
#     environmentServiceNameAzureRM: 'First_service_connection'


- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: 'checkov -d .'
    errorActionPreference: 'default'
    workingDirectory: '.'